.logout {
  color: red;
}

.activeLink {
  color: #4b5fa5;

  & .activeIcon {
    color: #4b5fa5;
  }
}

.link {
  padding: 0 16px;
}

@media (max-width: 992px) {
  .wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .nav_list {
    gap: 12px !important;
  }
}

@media (max-width: 576px) {
  .wrapper {
    max-width: 252px !important;
  }
}
