.signup {
  padding: 111px 0 109px 0;
  background-color: #e5e5e5;

  * {
    padding: 0;
    box-sizing: border-box;
  }

  .form {
    max-width: 316px;
    margin: 0 auto;

    .heading {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #181818;
      text-align: start;
      margin-bottom: 24px;
    }
    .inputsWrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 18px;
      width: 100%;
    }
    .inputWrapper {
      width: 100%;
      position: relative;
    }
    .formItem {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 16px;

      width: 100%;
      height: 44px;

      background: #ffffff;
      border: 1px solid #f7f1fe;
      border-radius: 12px;
    }
    .formItem input {
      padding: 13px;
      border: none;
      //   outline: none;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .errorMessage {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: red;
      text-align: start;
      position: absolute;
      padding-left: 12px;
    }
    .eyeHandler {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: poin;
    }
    .phoneInput {
      text-align: start;
      position: relative;
    }
    .phoneInput input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 16px;

      width: 100%;
      height: 44px;

      background: #ffffff;
      border: 1px solid #f7f1fe;
      border-radius: 12px;
      outline: none;
      position: relative;
    }
  }
}

:root {
  --PhoneInputCountryFlag-borderWidth: 0 !important;
}
