.heading {
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin-top: 1em;
}

.company {
  display: flex;
  gap: 10px;

  cursor: pointer;
}

.logo {
  width: 50px;
  border-radius: 10px;
}

.title {
  font-weight: bold;
}

.descriptionDiscount {
  color: rgba(128, 128, 128, 0.781);
}

.descriptionInfo {
  font-weight: bold;
  font-size: 13px;
}

.similar_products {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow: auto hidden;
  padding-bottom: 10px;

  & > a {
    flex: 0 0 250px;
  }
}

.similarTitle {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 0;
}

.previewImage {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-top: 35px;

  font-size: 12px;

  span {
    font-weight: bold;
  }
}

.priceForCoupon {
  span {
    margin-left: 14px;
  }
}

.priceForCoupon,
.priceWithCoupon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  color: #98949e;

  span {
    color: #2c29a5;
    background: #f7f7f7;
    border-radius: 12px;
    padding: 8px 20px;

    small {
      text-decoration-line: line-through;
      color: #98949e;
      margin-left: 10px;
    }
  }
}

.buttons {
  display: flex;
  gap: 0.5em;
  margin-top: 20px;

  .buttonFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 56px;
    padding: 5px;

    border-radius: 12px;
    border: none;
    cursor: pointer;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;

    height: 56px;

    border-radius: 12px;
    border: none;
    cursor: pointer;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21%;

    color: #ffffff;
  }
}

.buttonBuy {
  width: 100%;
  background: #4b5fa5;
}

.buttonMyCoupons {
  width: 100%;
  background: #25d769;
}

.buttonActivate {
  width: 100%;
  background: #fd9b08;
}

@media (min-width: 556px) {
  .previewImage {
    max-height: 350px;
  }

  .prices {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .heading {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin-top: 1em;
  }

  .images {
    flex: 0 0 60%;
    max-width: unset;
  }

  .info {
    flex: 0 0 35%;
  }

  .previewImage {
    max-height: 350px;
  }

  .prices {
    font-size: 15px;
  }

  .priceForCoupon,
  .priceWithCoupon {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
  }

  .priceForCoupon {
    span {
      margin-left: 0;
    }
  }
}

@media (min-width: 992px) {
  .previewImage {
    max-height: 400px;
  }

  .prices {
    font-size: 14px;
  }

  .priceForCoupon {
    span {
      margin-left: 14px;
    }
  }

  .priceForCoupon,
  .priceWithCoupon {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .priceForCoupon {
    span {
      margin-left: 14px;
    }
  }
}
