.categoriesIconBox {
  border-radius: 69px;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 6px;
  transition: 5s;
}
.categoriesSvgBox {
  border-radius: 69px;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 6px;
}
.categoriesSvgBox svg path {
  fill: white;
  transition: 0.5s;
}
.categoriesBox {
  text-align: center;
  max-width: 94px;
  cursor: pointer;

  p {
    width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.categoriesBox p {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .categoriesBox {
    max-width: 64px;
    font-size: 12px;
    p {
      width: 60px;
    }
  }

  .categoriesIconBox {
    width: 60px;
    height: 60px;
  }
  .categoriesSvgBox {
    width: 60px;
    height: 60px;
  }
}
