.categoriesIconBox{
  border-radius: 69px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 6px;
  transition: 5s;
}
.categoriesSvgBox{
  border-radius: 69px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 6px;
}
.categoriesSvgBox svg path{
  fill: white;
  transition: 0.5s;
}
.categoriesBox{
  text-align: center;
  cursor: pointer;
}
.categoriesBox p{
  padding: 0;
  margin: 0;
}