.successPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  padding: 100px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    padding: 36px;
    max-width: 388px;

    background: #ffffff;
    border-radius: 16px;
    
    .p {
      width: 100%;
    }
  }
  a {
    width: 100%;
  }
}
