.layout {
  max-width: 1168px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #181818;
}

.subtitles {
  max-width: 919px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.coupons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  gap: 24px 5px;
  &_button {
    padding: 12px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .coupons {
    justify-content: center;
  }
  .subtitles {
    max-width: 100%;
  }
} ;
