.cardFlexContainer {
  display: grid;
  margin-bottom: 24px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  place-content: center;
  padding-top: 24px;
  gap: 12px 8px;
  @media (min-width: 800px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  @media (min-width: 1061px) {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.categoriesFlexContainer {
  display: flex;
  gap: 0 16px;
  margin-bottom: 24px;
  padding: 24px 0 0 0;
  overflow-x: auto;
}
.categoriesFlexContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.mainTitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #181818;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 24px;
}
.mainBtn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  background: #4b5fa5;
  flex-grow: 0;
  padding: 11px 20px;
  border: none;
  border-radius: 12px;
  margin: 0 auto 64px;
  cursor: pointer;
}
.mainImgBox {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  padding-bottom: 101px;

  flex: 1 1 30%;

  img {
    width: 100%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
