.info {
  padding: 60px 24px;
  background: #ffffff;
  border-radius: 12px;
  max-width: 70%;
  width: 100%;
}

.myCoupons {
  display: grid;
  margin-bottom: 35px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  place-content: center;
  padding-top: 24px;
  gap: 30px 15px;
  @media (min-width: 800px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  @media (min-width: 1061px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  &_button {
    padding: 12px;
    text-align: center;
  }
}

.divider {
  margin: 18px 0 !important;
  border: 1px solid #edf1fd !important;
}

.buttons {
  max-width: 465px;
  background-color: #edf1fd;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;

  button {
    background: transparent;
    cursor: pointer;
    border: none;
    color: #4b5fa5;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    padding: 5px 32px;
  }
}

.activeButton {
  background: #ffffff !important;
  border-radius: 8px;
  padding: 5px 20px 7px;
}

.empty {
  text-align: center;
}

@media (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .info {
    padding: 30px 18px;
    max-width: 100%;
    max-width: 100%;
    width: unset;
    h2 {
      text-align: center;
    }
  }

  .buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: unset;
  }
}
