.layout {
  padding: 16px 0;
  background-color: #e5e5e5;
}

.info {
  padding: 60px 24px;
  background: #ffffff;
  border-radius: 12px;
  max-width: 70%;
}

.wrapper {
  display: flex;
  gap: 10px;
  min-height: 600px;
}

.divider {
  margin: 18px 0 !important;
  border: 1px solid #edf1fd !important;
}

.buttons {
  max-width: 465px;
  background-color: #edf1fd;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;

  button {
    background: transparent;
    cursor: pointer;
    border: none;
    color: #4b5fa5;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    padding: 5px 32px;
  }
}

.activeButton {
  background: #ffffff !important;
  border-radius: 8px;
  padding: 5px 20px 7px;
}

@media (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .info {
    padding: 30px 18px;
    max-width: 100%;
    h2 {
      text-align: center;
    }
  }
}
