.cardFlexContainer {
    display: flex;
    gap: 12px 8px;
    flex-wrap: wrap;
}

.searchTitle {
    font-size: 24px;
    color: #181818;
    font-weight: 700;
    margin: 24px 0 12px 0;
}

.noSearchItems {
    height: 51vh;
}