.layout {
  padding: 16px 0;
  background-color: #e5e5e5;  
}

.wrapper {
  display: flex;
  gap: 10px;
  min-height: 600px;
}

.accordions {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  width: 70%;
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .accordions {
    width: 100%;
    h2 {
      text-align: center;
    }
  }
}
