.info {
  padding: 60px 24px;
  background: #ffffff;
  border-radius: 12px;
  max-width: 70%;
  width: 100%;
}

.title {
  padding: 0;
  margin: 0 0 1em 0;
}

.saveBtn {
  max-width: 300px;
  margin-top: 1em;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  > input {
    background: #ffffff;
    border: 1px solid #f7f1fe;
    border-radius: 12px;
    padding: 12px 16px;
    max-width: 316px;
  }
}

@media (max-width: 992px) {
  .info {
    padding: 30px 18px;
    max-width: 100%;
    max-width: 100%;
    width: unset;
    h2 {
      text-align: center;
    }
  }
}
