header {
    font-weight: 400;
    font-size: 15px;
}


.headerTop {
    margin: 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLines {
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}

.headerTopLeft span {
    margin-right: 24px;
}

.headerTopRight span {
    color: #979797;
}

.headerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin: 9px 0;
}

.inputIcon {
    margin: 0 34px;
    border: 1px solid #E0E0E0;
    background-color: #F8F8F8;
}

.inputIcon span {
    position: absolute;
}

.icon {
    padding: 5px 0 0px 625px;
}

.inputField {
    width: 662px;
    height: 44px;
    border: 0.3px solid #F8F8F8;
}

.inputField::placeholder {
    padding-left: 20px;
}


.headerExtraInfo {
    display: flex;
    align-items: center;
    font-weight: 500px;
    font-size: 15px;
}

.headerOption {
    margin-right: 20px;
    margin-left: 10px;
    padding-right: 20px;
    border-right: 1px solid #D3D3D3;
}

.headerOptionLog {
    margin-right: 20px;
    margin-left: 10px;
    padding-right: 20px;
}

.headerCart {
    margin-left: 10px;
}


.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
}

.burgerList {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
    width: 250px;
}

.burgerTopLeft p {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.xsSearch {
    display: none;
}

.css-i4bv87-MuiSvgIcon-root {
    padding: 5px 6px 2px 6px !important
}

.iconWrapper {
    display: flex;
    align-items: center;

    p{
        margin-left: 10px;
    }
}

.closeWrapper {
    display: flex;
    justify-content: space-between;

    p {
        margin: 18px 0 18px 0px;
    }
}

.links {
    margin: 0 0 24px 0;
    color: #171717;
}

.burgerLine {
    width:100px;
    opacity:0.6;
    border: 1px solid #D3D3D3;
    margin: 14px 0 14px 0;
}

.badgeHelper {
    margin-right: 7px;
}

.burgerBottom p{
    margin: 0px 0px 8px;
}

.logo img {
    width: 114px;
}


@media screen and (max-width: 900px) {
    .xsSearch {
        display: block
    }

    .search {
        display: none;
    }

    .headerBottom {
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    .logo img {
        width: 99px;
    }

    .headerBottom {
        margin: 10.5px 0;
    }

}