.favorite {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #181818;
    }
  }
  .favorite_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 12px 0;
  }
}

.select {
  select {
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #2a2a2a;
  }
}
