.favorite {
  .header {
    display: flex;
    justify-content: space-between;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #181818;
    }
  }
  .favorite_cards {
    display: grid;
    margin-bottom: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    place-content: center;
    padding-top: 24px;
    gap: 40px 8px;
    @media (min-width: 800px) {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    @media (min-width: 1061px) {
      grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
  }
}
