.searchOutter {
    flex-grow: 1;
    position: relative;
}

.searchInputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #EDF1FD;
    background-color: #FBFBFB;
    position: relative;
    z-index: 10;
    border-radius: 12px;
}

.searchIcon {
    width: 50px;
    background-color: #F8F8F8;
    display: grid;
    place-items: center;
    height: 44px;
    cursor: pointer;
}

.search input {
    width: 100%;
    height: 44px;
    border: 0;
    background-color: #F8F8F8;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

.dataResultOutter {
    height: 309px;
    position: absolute;
    top: 71%;
    left: 0;
    right: 0;
    z-index: 5;
    border: 1px solid #D3D3D3;
    background-color: white;
    border-radius: 12px;
}

.dataResult {
    height: 250px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 18px;
    padding: 0px 20px 0px 20px;
}

.dataResult::-webkit-scrollbar {
    width: 4px;
}

.dataResult::-webkit-scrollbar-thumb {
    background: #4F70E2;
    border-radius: 4px;
    width: 4px;
    height: 43px;
}

.dataResult::-webkit-scrollbar-track {
    background: #EDF1FD;
    border: 1px solid #EDF1FD;
    border-radius: 4px;
}


.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #1D1D1B;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #EDF1FD;
    cursor: pointer;

    &:hover {
        color: #4B5FA5;
    }
}


.smallSearch {
    display: none;
    position: relative;
}

.smallSearchInputs {
    display: flex;
    justify-content: space-between;
}

.smallSearchInputs input {
    width: 280px;
    height: 44px;
    border: 0;
    background-color: #F8F8F8;
    padding-left: 10px;
    position: absolute;
    z-index: 5;
    top: 64px;
    right: -1px;
}

.searchIcon {
    font-size: 2rem !important;
    background-color: transparent;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .searchOutter {
        flex-grow: 0;
    }

    .smallSearchOutter {
        top: 78px;
        position: fixed;
        background-color: #00000097;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 20;
        overflow-y: auto;
    }

    .smallSearchInputs {
        display: block;
        position: relative;
    }

    .smallSearch {
        display: block;
    }

    .smallSearchInputs input {
        height: 44px;
        width: 77%;
        border: 0;
        background-color: #F8F8F8;
        padding-left: 10px;
        position: fixed;
        z-index: 5;
        top: 82px;
        left: 10%;
        right: 10%;
        border-radius: 12px;
    }

    .smallSearchIcon {
        width: 30px;
        background-color: #F8F8F8;
        display: grid;
        place-items: center;
        height: 46px;
        z-index: 5;
        position: fixed;
        top: 82px;
        right: 13%;
        cursor: pointer;
    }

    .search {
        display: none;
    }


    .dataResultOutter {
        z-index: 50;
        height: 306px;
        position: fixed;
        top: 128px;
        left: 10%;
        right: 12%;
        border: 1px solid #D3D3D3;
        background-color: white;
    }

    .dataResult {
        height: 240px;
        position: fixed;
        top: 104px;
        left: 11%;
        right: 14%;
        margin-top: 30px;
        padding: 0px 20px 0px 20px;
    }

    .dataResult .dataItem {
        min-height: 62px;
    }

}

@media screen and (max-width: 576px) {
    .dataResultOutter {
        right: 10%;
    }
}