.layout {
  padding: 16px 0;
  background-color: #e5e5e5;
}

.wrapper {
  display: flex;
  gap: 10px;
  min-height: 600px;
}

.contacts {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  max-width: 70%;
  &h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #181818;
  }

  &description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #303030;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #181818;
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: start;
  gap: 20px;
}

.phone_lists {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    display: flex;
    gap: 10px;
  }
}

.address {
  div {
    p {
      display: flex;
      gap: 10px;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
      color: #2f2f2f;
      padding: 12px 0;
    }
  }
}

.social_media {
  div {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 12px 0;

    a {
      display: flex;
      gap: 10px;
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    max-width: 100%;
    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .info {
    flex-wrap: wrap;
  }
}
